# **1 - Leitura da base de dados**

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json"
df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# **2 - Inspeção dos dados**

In [2]:
# Explorando a coluna customer
df.customer[0]

{'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'tenure': 9}

In [3]:
# Explorando a coluna phone
df.phone[0]

{'PhoneService': 'Yes', 'MultipleLines': 'No'}

In [4]:
# Explorando a coluna internet
df.internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [5]:
# Explorando a coluna account
df.account[0]

{'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check',
 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}

# **3 - Organização do arquivo json**

In [6]:
# Função para "desenrolar" o arquivo json
def unwrap(line,column):
    return line[column]

In [7]:
# Definindo as colunas para serem abertas
columns = ['customer', 'phone','internet','account', 'Charges']

for c in columns:
    keys = df[c].iloc[0].keys()
    for key in keys:
        df[key] = df[c].apply(lambda x: unwrap(x,key))

df.drop(columns, inplace=True, axis = 1)
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# **4 - Visualização prévia do dataframe**

In [8]:
# Identificando as informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Monthly           7267 non-null   float64
 20  Total             7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [9]:
# Identificando a qualidade dos dados
df.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Monthly             0
Total               0
dtype: int64

In [10]:
# Verificação de dados em branco
for column in df.columns:
  print('coluna {0}: {1} vazios. '.format(column, df.loc[(df[column] == '') | (df[column].isnull()) | 
                                                           (df[column] == ' ')][column].count()))

coluna customerID: 0 vazios.
coluna Churn: 224 vazios.
coluna gender: 0 vazios.
coluna SeniorCitizen: 0 vazios.
coluna Partner: 0 vazios.
coluna Dependents: 0 vazios.
coluna tenure: 0 vazios.
coluna PhoneService: 0 vazios.
coluna MultipleLines: 0 vazios.
coluna InternetService: 0 vazios.
coluna OnlineSecurity: 0 vazios.
coluna OnlineBackup: 0 vazios.
coluna DeviceProtection: 0 vazios.
coluna TechSupport: 0 vazios.
coluna StreamingTV: 0 vazios.
coluna StreamingMovies: 0 vazios.
coluna Contract: 0 vazios.
coluna PaperlessBilling: 0 vazios.
coluna PaymentMethod: 0 vazios.
coluna Monthly: 0 vazios.
coluna Total: 11 vazios.

# **5 - Limpeza dos dados**

## **5.1 - Limpando a coluna *Churn***

In [11]:
# Identificando as linhas com valores nulos
ind = []
cont = 0
for line in df.Churn:
    if line == '' or line == ' ' or line == None:
        ind.append(cont)
    cont = cont + 1

# Removendo as linhas em branco
df.drop( ind, axis=0, inplace = True )

## **5.2 - Limpando a coluna Total**

In [12]:
df = df.loc[df.Total != ' ']
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [13]:
# Tranformando a coluna Total em float
df["Total"] = df.Total.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Monthly           7032 non-null   float64
 20  Total             7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [14]:
# Avaliando a coluna tenure
df.describe()

       SeniorCitizen       tenure      Monthly        Total
count    7032.000000  7032.000000  7032.000000  7032.000000
mean        0.162400    32.421786    64.798208  2283.300441
std         0.368844    24.545260    30.085974  2266.771362
min         0.000000     1.000000    18.250000    18.800000
25%         0.000000     9.000000    35.587500   401.450000
50%         0.000000    29.000000    70.350000  1397.475000
75%         0.000000    55.000000    89.862500  3794.737500
max         1.000000    72.000000   118.750000  8684.800000

# **6 - Padronização dos dados**

## **6.1 - Dataframe com respostas padronizada do Tipo Yes/No**

In [15]:
df['SeniorCitizen'] = df['SeniorCitizen'].map({0:'No', 1:'Yes'})
df_obj = df
df_obj.drop('customerID',axis=1,inplace=True)
df_obj.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,No,Female,No,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,No,Male,No,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,Yes,Male,No,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

## **6.2 - Dataframe com respostas padrão do tipo 0/1**

In [17]:
mappings = []
# df.drop('customerID', axis=1, inplace=True)
for column in df.columns:
  if (df[column].dtypes != 'int64') & (df[column].dtypes != 'float64'):
    values = df[column].unique()
    mapping = dict()
    count = 0
    for value in values:
      mapping[value] = count
      count += 1 
    mappings.append([column, mapping])
    df[column] = df[column].map(mapping)
df

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0,0,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,65.60,593.30
1,0,1,0,1,1,9,0,1,0,0,1,0,1,1,1,1,1,0,59.90,542.40
2,1,1,0,1,1,4,0,0,1,0,1,1,1,1,0,1,0,1,73.90,280.85
3,1,1,1,0,1,13,0,0,1,0,0,1,1,0,1,1,0,1,98.00,1237.85
4,1,0,1,0,1,3,0,0,1,0,1,0,0,0,0,1,0,0,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,0,0,0,1,1,13,0,0,0,1,1,0,0,1,0,0,1,0,55.15,742.90
7263,1,1,0,0,1,22,0,1,1,0,1,0,1,1,1,1,0,1,85.10,1873.70
7264,0,1,0,1,1,2,0,0,0,0,0,0,1,1,0,1,0,0,50.30,92.75
7265,0,1,0,0,0,67,0,0,0,1,1,1,0,1,1,2,1,0,67.85,4627.65
7266,0,1,0,0,0,63,1,2,0,1,0,1,1,0,1,2,1,1,59.00,3707.60

In [18]:
# Dicionário do mapeamento
mappings

[['Churn', {'No': 0, 'Yes': 1}],
 ['gender', {'Female': 0, 'Male': 1}],
 ['SeniorCitizen', {'No': 0, 'Yes': 1}],
 ['Partner', {'Yes': 0, 'No': 1}],
 ['Dependents', {'Yes': 0, 'No': 1}],
 ['PhoneService', {'Yes': 0, 'No': 1}],
 ['MultipleLines', {'No': 0, 'Yes': 1, 'No phone service': 2}],
 ['InternetService', {'DSL': 0, 'Fiber optic': 1, 'No': 2}],
 ['OnlineSecurity', {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['OnlineBackup', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['DeviceProtection', {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['TechSupport', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['StreamingTV', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['StreamingMovies', {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['Contract', {'One year': 0, 'Month-to-month': 1, 'Two year': 2}],
 ['PaperlessBilling', {'Yes': 0, 'No': 1}],
 ['PaymentMethod',
  {'Mailed check': 0,
   'Electronic check': 1,
   'Credit card (automatic)': 2,
   'Bank transfer (automatic)': 3}]]

# **7 - Tradução das colunas**

In [19]:
trad = {'Churn':'Cliente_Inativo','gender':'Sexo','SeniorCitizen':'Aposentado','Partner':'Casado',
        'Dependents':'Dependentes', 'tenure':'Meses_Contrato', 'PhoneService':'Assinatura_Telefone', 'MultipleLines':'Assinatura_MultiTelefone',
        'InternetService':'Assinatura_Internet', 'OnlineSecurity':'Assinatura_Seguro_online', 'OnlineBackup':'Assinatura_Backup', 
        'DeviceProtection':'Assinatura_Seguro_dispositivo', 'TechSupport':'Assinatura_Suporte_tecnico', 'StreamingTV':'Assinatura_TV',
        'StreamingMovies':'Assinatura_Filmes','Contract':'Tipo_Contrato','PaperlessBilling':'Fatura_Online', 'PaymentMethod':'Forma_Pagamento',
        'Monthly':'Valor_Mensal', 'Total':'Valor_Anual'
        }
df.rename( columns=trad, inplace=True )
df_obj.rename( columns=trad, inplace=True )
df.head()

,Cliente_Inativo,Sexo,Aposentado,Casado,Dependentes,Meses_Contrato,Assinatura_Telefone,Assinatura_MultiTelefone,Assinatura_Internet,Assinatura_Seguro_online,Assinatura_Backup,Assinatura_Seguro_dispositivo,Assinatura_Suporte_tecnico,Assinatura_TV,Assinatura_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Valor_Mensal,Valor_Anual
0,0,0,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,65.6,593.30
1,0,1,0,1,1,9,0,1,0,0,1,0,1,1,1,1,1,0,59.9,542.40
2,1,1,0,1,1,4,0,0,1,0,1,1,1,1,0,1,0,1,73.9,280.85
3,1,1,1,0,1,13,0,0,1,0,0,1,1,0,1,1,0,1,98.0,1237.85
4,1,0,1,0,1,3,0,0,1,0,1,0,0,0,0,1,0,0,83.9,267.40

# **8 - Inserção de uma nova coluna de valores diários**

In [24]:
df.insert(19,'Valor_Diario',df.Valor_Mensal/30)
df_obj.insert(19,'Valor_Diario',df_obj.Valor_Mensal/30)
df.head()

ValueError: cannot insert Valor_Diario, already exists

# **9 - Exportando a base de dados tratada**

In [21]:
df.to_csv('dados_tratados.csv', index=False)